# Telegram
BOT_TOKEN=
ADMIN_TELEGRAM_ID=

# Bakong KHQR receiver
BAKONG_ACCOUNT_ID=
BAKONG_MERCHANT_NAME=iDrama.me
BAKONG_MERCHANT_CITY=PHNOM PENH
BAKONG_MOBILE_NUMBER=

# Bakong Open API
BAKONG_API_BASE_URL=https://api-bakong.nbc.gov.kh
BAKONG_TOKEN=

# Web health-check server
PORT=3000
